.App {
  text-align: center;
}

/* my styles */

.signUp {
  margin: 50px 0;
  width: 100%;
}

.inputField {
  display: block;
  width: 600px;
  margin: 15px auto;
  padding: 5px 8px;
  padding-left: 15px;
  border-radius: 18px;
  background-color: #fefefe;
  color: red;
}

.button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.submitButton {
  width: 200px;
  padding: 10px;
  border-radius: 18px;
  color: #fff;
  background-color: blue;
}

.delete-button {
  display: block;
  margin: 10px auto;
  width: 100px;
  border-radius: 18px;
  padding: 5px;
  background-color: blue;
  color: white;
}

.input-file {
  display: block;
  width: 150px;
  padding: 5px;
  margin: 20px auto;
}
